
*{
  border: 0;
  margin:0;
  padding: 0;
}


/* .container {
  border: red 5px solid;

} */


.title {
  color: var(--title);
  /* background-color: black; */
  border:black 2px solid;
  margin-bottom: 1vw;
}

.btn{
  border:blue 5px solid;
}

.btn-reset{
  border:greenyellow 2px solid;
}

.btn-delete{
  border:red 2px solid;
  /* border: 0; */
  margin:0;
  padding: 0;
}